* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
    background-color: #2196F3;
    justify-content: space-around;
    height: 120px;
    align-items: center;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo {
    display: flex;
}

.logo h2 {
    font-size: xx-large;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar .sign {
    margin-left: 100px;
}

.navbar a {
    margin-left: 30px;
    display: flex;
    font-size: larger;
    color: black;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 5px;
    transition: background-color 1.5s ease, padding 1.5s ease, border-radius 1.5s ease;
}

.navbar a:hover {
    background-color: #fff;
    border-radius: 10px;
}

.sign select {
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
}

.sign select option {
    font-size: 20px;
}

.cnt {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: aquamarine;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 130px;
}

.cnt h1 {
    font-size: 2.5rem;
    margin: 15px 0;
    font-family: system-ui;
    font-weight: bold;
}

.cnt p {
    margin: 15px 0;
    line-height: 1.5;
    max-width: 500px;
    font-weight: bold;
}

.cnt button {
    padding: 10px 20px;
    background: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

.cnt button a {
    text-decoration: 0;
}

.cnt .dim {
    display: flex;
    justify-content: flex-end;

}

.cnt .dim img {
    background: linear-gradient(pink, violet);
    border-radius: 50%;
    overflow: visible;
    transition: 2.5s;
}

.cnt .dim img:hover {
    background-color: #2196F3;
    border-radius: 50%;
    overflow: visible;
    transition: 2.5s;
}

.cnt2 {
    width: 100%;
    height: fit-content;
    background-color: yellow;
}

.products {
    text-align: center;
    padding: 50px 20px;
}

.products h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.product-container {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product {
    background-color: white;
    padding: 20px;
    width: fit-content;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: 1.5s;
    background: #00ebff;
}

.product img:hover {
    width: 100%;
    height: auto;
    border-radius: 8px;
    background-color: yellow;
    transition: 1.5s;
}

.product h3 {
    font-size: 22px;
    margin-top: 10px;
}

.product p {
    font-size: 20px;
    color: #888;
    margin-top: 10px;
}

.product details {
    background: #FFC107;
    display: block;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: larger;
}

.about {
    background-color: rgb(104, 246, 104);
    padding: 20px;
}

.about-content {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    background-color: yellow;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
    text-transform: capitalize;
    font-weight: 600;
}

.about-content p {
    font-size: 18px;
    line-height: 1.8;
    color: #555;
    margin-bottom: 15px;
    text-align: justify;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.about-content .imgs {
    display: flex;
    height: 250px;
    justify-content: center;
    background: aliceblue;
    border-radius: 15px;
}

.about-content span {
    color: #e74c3c;
    font-weight: bold;
}

.contact {
    background-color: rgb(104, 246, 104);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
}

.contact-content {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    background-color: yellow;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
    text-transform: capitalize;
    font-weight: 600;
}

.contact-content p {
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
}

.contact-info {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}

.contact-info p {
    margin: 10px 0;
}

.contact-info strong {
    color: #333;
}

.contact button {
    background: #3F51B5;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

.contact button a {
    color: white;
    text-decoration: 0;
    cursor: pointer;
}

footer {
    height: 100px;
    background: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: large;
}


@media only screen and (min-width: 600px) {
    .main {
        position: fixed;
        display: flex;
        flex-direction: column;
        background: linear-gradient(to left, #3f14ff, #ca36e0);
        justify-content: space-around;
        height: 120px;
        align-items: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        width: 100%;
    }

    .logo {
        display: flex;
    }

    body {
        font-size: 14px;
    }

    .logo h2 {
        font-size: xx-large;
        color: white;
    }

    .navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .navbar .sign {
        margin-left: 100px;
    }

    .navbar a {
        margin-left: 30px;
        font-size: 20px;
        color: black;
        text-decoration: none;
        text-transform: capitalize;
        padding: 10px 20px;
        background-color: #fff;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .navbar a:hover {
        background-color: #2196F3;
        border-radius: 10px;
    }

    .sign select {
        width: 150px;
        height: 50px;
        border: 0;
        border-radius: 5px;
        font-size: 30px;
    }

    .sign select option {
        font-size: 15px;
    }


    .cnt {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background: aquamarine;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 130px;
    }

    .cnt h1 {
        font-size: 2.5rem;
        margin: 15px 0;
        font-family: system-ui;
        font-weight: bold;
    }

    .cnt p {
        margin: 15px 0;
        line-height: 1.5;
        max-width: 350px;
        font-weight: bold;
        font-size: 20px;
    }

    .cnt button {
        padding: 12px 27px;
        background: #6d09ff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 25px;
        margin-top: 15px;
    }

    .cnt button a {
        text-decoration: 0;
        color: white;
    }

    .cnt .dim {
        display: flex;
        justify-content: flex-end;

    }

    .cnt .dim img {
        background: linear-gradient(pink, violet);
        border-radius: 50%;
        overflow: visible;
        transition: 2.5s;
    }

    .cnt .dim img:hover {
        background-color: #2196F3;
        border-radius: 50%;
        overflow: visible;
        transition: 2.5s;
    }

    .cnt2 {
        width: 100%;
        height: fit-content;
        background-color: yellow;
    }

    .products {
        text-align: center;
        padding: 50px 20px;
        background: linear-gradient(pink, violet);
    }

    .products h2 {
        font-size: 36px;
        margin-bottom: 30px;
        color: black;
    }

    .p1 {
        background: lavenderblush;
    }

    .product-container1,
    .product-container2,
    .product-container3,
    .product-container4,
    .product-container5 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-around;
        gap: 30px;
        background: lavenderblush;
        padding: 20px;
    }

    .product {
        background-color: #fff;
        padding: 25px;
        border-radius: 12px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
        text-align: center;
        transition: transform 0.3s ease-in-out;
        width: fit-content;
    }

    .product:hover {
        transform: translateY(-10px);
        box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
    }

    .product img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        transition: transform 0.3s ease-in-out;
        background-color: #00ebff;
    }

    .product img:hover {
        width: 100%;
        height: auto;
        border-radius: 8px;
        transform: scale(1.05);
        background-color: #f59292;
    }

    .product h3 {
        font-size: 15px;
        margin-top: 15px;
        color: #333;
    }

    .product p {
        font-size: 18px;
        color: #777;
        margin-top: 10px;
    }

    .product details {
        background: #07ff43;
        display: inline-block;
        font-size: 2rem;
    }

    .about {
        background: linear-gradient(violet, pink);
        padding: 20px;
    }

    .about-content {
        max-width: 1000px;
        margin: 0 auto;
        text-align: center;
        background-color: #2196F3;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .about-content h2 {
        font-size: 36px;
        margin-bottom: 20px;
        color: black;
        font-weight: 600;
    }

    .about-content p {
        font-size: 18px;
        line-height: 1.8;
        color: #fff;
        margin: 0 auto 15px;
        max-width: 865px;
    }

    .about-content .imgs {
        height: 250px;
        display: flex;
        justify-content: center;
        background-color: aquamarine;
        border-radius: 10px;
    }

    .about-content span {
        color: red;
        font-weight: bold;
    }

    .contact {
        background: linear-gradient(pink, violet);
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-items: center;
    }

    .contact-content {
        max-width: 1000px;
        margin: 0 auto;
        text-align: center;
        background-color: #2196F3;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .contact-content img {
        width: 100%;
        border-radius: 10px;
    }

    .contact-content h2 {
        font-size: 36px;
        margin-bottom: 20px;
        color: #333;
        text-transform: capitalize;
        font-weight: 600;
    }

    .contact-content p {
        font-size: 25px;
        color: #555;
        margin-bottom: 30px;
    }

    #r83 {
        font-size: 25px;
    }

    .contact-info {
        font-size: 18px;
        color: #555;
        line-height: 1.6;
    }

    .contact-info p {
        font-size: 2rem;
        color: black;
    }

    .contact-info strong {
        text-decoration: underline;
        color: black;
    }

    .contact button {
        background: #3F51B5;
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        color: white;
    }

    .contact button a {
        color: white;
        text-decoration: 0;
        cursor: pointer;
        font-size: xx-large;
    }

    footer {
        height: 100px;
        background: linear-gradient(to right, #3f14ff, #ca36e0);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer p {
        font-size: xx-large;
    }
}

@media only screen and (min-width: 1024px) {
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    .main {
        display: flex;
        flex-direction: column;
        background-color: #2196F3;
        justify-content: space-around;
        height: 120px;
        align-items: center;
        width: 100%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .logo {
        display: flex;
    }

    .logo h2 {
        font-size: xx-large;
        color: white;
    }

    .navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .navbar .sign {
        margin-left: 100px;
    }

    .navbar a {
        margin-left: 30px;
        display: flex;
        font-size: larger;
        color: black;
        text-decoration: none;
        text-transform: capitalize;
        padding: 10px 20px;
        background-color: transparent;
        border-radius: 5px;
        transition: background-color 1.5s ease, padding 1.5s ease, border-radius 1.5s ease;
    }

    .navbar a:hover {
        background-color: #fff;
        border-radius: 10px;
    }

    .sign select {
        width: 100px;
        height: 30px;
        border: 0;
        border-radius: 5px;
        font-size: 20px;
    }

    .sign select option {
        font-size: 20px;
    }

    .cnt {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background: aquamarine;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 130px;
    }

    .cnt h1 {
        font-size: 2.5rem;
        margin: 15px 0;
        font-family: system-ui;
        font-weight: bold;
    }

    .cnt p {
        margin: 15px 0;
        line-height: 1.5;
        max-width: 500px;
        font-weight: bold;
    }

    .cnt button {
        padding: 10px 20px;
        background: #2196F3;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin-top: 15px;
    }

    .cnt button a {
        text-decoration: 0;
    }

    .cnt .dim {
        display: flex;
        justify-content: flex-end;

    }

    .cnt .dim img {
        background: linear-gradient(pink, violet);
        border-radius: 50%;
        overflow: visible;
        transition: 2.5s;
    }

    .cnt .dim img:hover {
        background-color: #2196F3;
        border-radius: 50%;
        overflow: visible;
        transition: 2.5s;
    }

    .cnt2 {
        width: 100%;
        height: fit-content;
        background-color: yellow;
    }

    .products {
        text-align: center;
        padding: 50px 20px;
    }

    .products h2 {
        font-size: 36px;
        margin-bottom: 30px;
    }

    .product-container1,
    .product-container2,
    .product-container3,
    .product-container4,
    .product-container5 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-around;
        gap: 30px;
        background: lavenderblush;
        padding: 20px;
    }

    .product {
        background-color: white;
        padding: 20px;
        width: fit-content;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .product img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        transition: 1.5s;
        background-color: #00ebff;
    }

    .product img:hover {
        width: 100%;
        height: auto;
        border-radius: 8px;
        background-color: aquamarine;
        transition: 1.5s;
    }

    .product h3 {
        font-size: 22px;
        margin-top: 10px;
    }

    .product p {
        font-size: 20px;
        color: #888;
        margin-top: 10px;
    }

    .product details {
        background: #07ff41;
        display: block;
        padding: 10px 20px;
        border-radius: 10px;
        font-size: larger;
    }

    .about {
        background-color: rgb(104, 246, 104);
        padding: 20px;
    }

    .about-content {
        max-width: 1000px;
        margin: 0 auto;
        text-align: center;
        background-color: #2196F3;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .about-content h2 {
        font-size: 36px;
        margin-bottom: 20px;
        color: black;
        text-transform: capitalize;
        font-weight: 600;
    }

    .about-content p {
        font-size: 20px;
        line-height: 1.8;
        color: #000;
        margin-bottom: 15px;
        text-align: justify;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    .about-content .imgs {
        display: flex;
        height: 250px;
        justify-content: center;
        background: aquamarine;
        border-radius: 15px;
    }

    .about-content span {
        color: #e74c3c;
        font-weight: bold;
    }

    .contact {
        background: linear-gradient(pink, violet);
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-items: center;
    }

    .contact-content {
        max-width: 1000px;
        margin: 0 auto;
        text-align: center;
        background-color: #2196F3;
        padding: 40px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .contact-content h2 {
        font-size: 36px;
        margin-bottom: 20px;
        color: #000;
        text-transform: capitalize;
        font-weight: 600;
    }

    .contact-content p {
        font-size: 18px;
        color: #000;
        margin-bottom: 30px;
    }

    .contact-info {
        font-size: 18px;
        color: #555;
        line-height: 1.6;
    }

    .contact-info p {
        margin: 10px 0;
        font-size: 1.5rem;
    }

    .contact-info strong {
        color: #333;
    }

    .contact button {
        background: #3F51B5;
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        color: white;
    }

    .contact button a {
        color: white;
        text-decoration: 0;
        cursor: pointer;
    }

    footer {
        height: 100px;
        background: linear-gradient(to right, #3f14ff, #ca36e0);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer p {
        font-size: large;
    }
}
