* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3,
h2 {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2196F3;
    padding: 15px;
    color: white;
    width: 100%;
    height: 100px;
}

.menu-toggle button {
    background: none;
    border: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.logo h2 {
    font-size: 24px;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar a {
    margin-left: 30px;
    display: flex;
    font-size: larger;
    color: black;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 5px;
    transition: background-color 1.5s ease;
}

.navbar a:hover {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
}


.sidebar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: cyan;
    padding-top: 20px;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    transform: translateX(-250px);
}

.sidebar.active {
    display: block;
    transform: translateX(0);
}

.sidebar-header {
    text-align: center;
    color: white;
}

.close-btn {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.menu-item {
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.menu-item:hover {
    background-color: #575757;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



.main {
    display: flex;
    background-color: #2196F3;
    justify-content: space-around;
    height: 100px;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
}



.logo h2 {
    font-size: xx-large;
    color: #fff;
}

.cnt {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: aquamarine;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cnt h1 {
    font-size: 2.5rem;
    margin: 15px 0;
    font-family: system-ui;
    font-weight: bold;
}

.cnt p {
    margin: 15px 0;
    line-height: 1.5;
    max-width: 500px;
    font-weight: bold;
}

.cnt button {
    padding: 10px 20px;
    background: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

.cnt button a {
    text-decoration: 0;
    color: white;
}

.cnt .dim {
    display: flex;
    justify-content: flex-end;

}

.cnt .dim img {

    background: linear-gradient(pink, violet);
    border-radius: 50%;
    overflow: visible;
    transition: 2.5s;
}

.cnt .dim img:hover {
    background-color: #2196F3;
    border-radius: 50%;
    overflow: visible;
    transition: 2.5s;
}



.cnt2 {
    width: 100%;
    height: fit-content;
    background-color: #f9f9f9;
}

.products {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(pink, violet);
}

.products h2 {
    font-size: 36px;
    margin-bottom: 30px;
    color: black;
}

.p1 {
    background: lavenderblush;
    padding: 10px;
}

.product-container1 {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    background: lavenderblush;
    padding: 20px;
}

.product-container2 {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    background: lavenderblush;
    padding: 20px;

}

.product-container3 {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    background: lavenderblush;
    padding: 20px;

}

.product-container4 {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    background: lavenderblush;
    padding: 20px;

}

.product-container5 {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    background: lavenderblush;
    padding: 20px;

}

.product {
    background-color: #fff;
    padding: 25px;
    width: fit-content;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.product:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    background: #81d5ff;
}

.product img:hover {
    transform: scale(1.05);
    background-color: yellow;
}

.product h3 {
    font-size: 24px;
    margin-top: 15px;
    color: #333;
}

.product p {
    font-size: 18px;
    color: #777;
    margin-top: 10px;
}

.product details {
    background: #FFC107;
    display: inline-block;
    padding: 12px 25px;
    border-radius: 15px;
    font-size: 18px;
    color: #333;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.product details:hover {
    background: #faa200;
}


.about {
    background: linear-gradient(violet, pink);
    padding: 20px;
}

.about-content {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    background-color: #2196F3;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: black;
    text-transform: capitalize;
    font-weight: 600;
}

.about-content p {
    font-size: 18px;
    line-height: 1.8;
    color: #fff;
    margin-bottom: 15px;
    text-align: justify;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.about-content .imgs {
    display: flex;
    height: 250px;
    justify-content: center;
    background: #FFEB3B;
    border-radius: 15px;
}

.about-content span {
    color: #fff;
    font-weight: bold;
}

.contact {
    margin: 0 auto;
    text-align: center;
    background-color: #2196F3;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(pink, violet);
}

.contact-content img {
    width: 1325px;
    border-radius: 10px;
}

.contact-content {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    background-color: #03A9F4;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: black;
    text-transform: capitalize;
    font-weight: 600;
}

.contact-content p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 30px;
}

.contact-info {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}

.contact-info p {
    margin: 10px 0;
}

.contact-info strong {
    color: black;
}

.contact button {
    background: #3F51B5;
    padding: 10px 20px;
    border: 0;
    border-radius: 10px;
}

.contact button a {
    color: fff;
    text-decoration: 0;
    cursor: pointer;
}

footer {
    height: 100px;
    background: #ff2020;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: large;
}

@media only screen and (min-width: 600px) {
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    .header {
        position: fixed;
    }

    .navbar {
        display: none;
    }

    .sign select {
        width: 150px;
        height: 50px;
        font-size: 25px;
        border: 0;
        border-radius: 10px;
    }

    .sign select option {
        width: 100px;
        font-size: 15px;
    }

    .menu-toggle button {
        display: block;
        font-size: 50px;
    }

    .menu-item {
        color: black;
        text-decoration: none;
        padding: 15px;
        display: block;
        font-size: 30px;
        transition: background-color 0.3s ease;
    }

    .sidebar {
        display: block;
    }

    .close-btn {
        color: black;
        font-size: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    .main {
        display: flex;
        background-color: #2196F3;
        justify-content: space-around;
        height: 100px;
        align-items: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        width: 100%;
    }

    .logo {
        display: flex;
    }

    .logo h2 {
        font-size: 50px;
        color: #fff;
    }

    .cnt {
        padding-top: 120px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background: aquamarine;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .cnt h1 {
        font-size: 2.5rem;
        margin: 15px 0;
        font-family: system-ui;
        font-weight: bold;
    }

    .cnt p {
        margin: 15px 0;
        line-height: 1.5;
        max-width: 350px;
        font-weight: bold;
    }

    .cnt button {
        padding: 15px 30px;
        background: #2196F3;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin-top: 15px;
    }

    .cnt button a {
        text-decoration: 0;
        color: white;
        font-size: 28px;
    }

    .cnt .dim {
        display: flex;
        justify-content: flex-end;

    }

    .cnt .dim img {

        background: linear-gradient(pink, violet);
        border-radius: 50%;
        overflow: visible;
        transition: 2.5s;
    }

    .cnt .dim img:hover {
        background-color: #2196F3;
        border-radius: 50%;
        overflow: visible;
        transition: 2.5s;
    }



    .cnt2 {
        width: 100%;
        height: fit-content;
        background-color: #f9f9f9;
    }

    .products {
        text-align: center;
        padding: 50px 20px;
        background: linear-gradient(pink, violet);
    }

    .products h2 {
        font-size: 36px;
        margin-bottom: 30px;
        color: black;
    }

    .products .note {
        font-size: 12px;
    }

    .p1 {
        background: lavenderblush;
        padding: 10px;
        font-size: 9px;
    }

    .p1_ {
        background: lavenderblush;
        padding: 10px;
        font-size: 10px;
    }

    .product-container1,
    .product-container2,
    .product-container3,
    .product-container4,
    .product-container5 {
        display: grid;
        justify-content: space-around;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        background: lavenderblush;
        padding: 20px;
    }


    .product {
        background-color: #fff;
        padding: 20px;
        width: fit-content;
        border-radius: 8px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
        text-align: center;
        transition: transform 0.3s ease-in-out;
    }

    .product:hover {
        transform: translateY(-10px);
        box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
    }

    .product img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        transition: transform 0.3s ease-in-out;
        background: #81d5ff;
    }

    .product img:hover {
        transform: scale(1.02);
        background-color: yellow;
    }

    .product h3 {
        font-size: 11px;
        margin-top: 10px;
        color: #333;
    }

    .product p {
        font-size: 20px;
        color: #777;
        margin-top: 10px;
    }

    .product details {
        background: #FFC107;
        display: inline-block;
        padding: 13px 25px;
        border-radius: 15px;
        font-size: 30px;
        color: #333;
        cursor: pointer;
        transition: background 0.3s ease-in-out;
    }

    .product details:hover {
        background: #faa200;
    }


    .about {
        background: linear-gradient(violet, pink);
        padding: 20px;
    }

    .about-content {
        max-width: 1000px;
        margin: 0 auto;
        text-align: center;
        background-color: #2196F3;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .about-content h2 {
        font-size: 36px;
        margin-bottom: 20px;
        color: black;
        text-transform: capitalize;
        font-weight: 600;
    }

    .about-content p {
        font-size: 10px;
        line-height: 1.8;
        color: #fff;
        margin-bottom: 15px;
        text-align: justify;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    .about-content .imgs {
        display: flex;
        height: 250px;
        justify-content: center;
        background: #FFEB3B;
        border-radius: 15px;
    }

    .about-content .imgs:hover {
        background: linear-gradient(pink, violet)
    }

    .about-content span {
        color: #fff;
        font-weight: bold;
    }

    .contact {
        margin: 0 auto;
        text-align: center;
        background-color: #2196F3;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background: linear-gradient(pink, violet);
    }

    .contact-content img {
        width: 860px;
        border-radius: 10px;
    }

    .contact-content {
        max-width: 1000px;
        margin: 0 auto;
        text-align: center;
        background-color: #03A9F4;
        padding: 40px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .contact-content h2 {
        font-size: 36px;
        margin-bottom: 20px;
        color: black;
        text-transform: capitalize;
        font-weight: 600;
    }

    .contact-content p {
        font-size: 18px;
        color: #fff;
        margin-bottom: 30px;
    }

    .contact-info {
        font-size: 18px;
        color: #555;
        line-height: 1.6;
    }

    .contact-info p {
        margin: 10px 0;
    }

    .contact-info strong {
        color: black;
    }

    .contact button {
        background: #3F51B5;
        padding: 10px 20px;
        border: 0;
        border-radius: 10px;
        font-size: x-large;
    }

    .contact button a {
        color: fff;
        text-decoration: 0;
        cursor: pointer;
    }

    footer {
        height: 100px;
        background: #ff2020;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer p {
        font-size: xx-large;
    }
}

@media only screen and (min-width: 1020px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Trebuchet MS', Arial, sans-serif;
    }

    h3,
    h2 {
        margin: 0;
        font-size: 30px;
    }

    .menu-toggle {
        display: none;
    }

    .header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #2196F3;
        padding: 15px 20px;
        color: white;
        height: 100px;
        position: fixed;
    }

    .sign select {
        width: 150px;
        height: 50px;
        font-size: 25px;
        border: 0;
        border-radius: 10px;
    }

    .sign select option {
        width: 100px;
        font-size: 20px;
    }

    .menu-toggle button {
        background: none;
        border: none;
        font-size: 30px;
        color: white;
        cursor: pointer;
    }

    .logo h2 {
        font-size: 40px;
        margin: 0;
    }

    .navbar {
        display: flex;
        gap: 20px;
    }

    .navbar a {
        font-size: 20px;
        color: black;
        text-decoration: none;
        text-transform: capitalize;
        padding: 10px 20px;
        border-radius: 5px;
        transition: background-color 0.5s ease, transform 0.3s ease;
    }

    .navbar a:hover {
        background-color: white;
        transform: scale(1.1);
    }

    .sidebar {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        background-color: cyan;
        padding-top: 20px;
        transform: translateX(-250px);
        transition: transform 0.3s ease-in-out;
        z-index: 1000;
    }

    .sidebar.active {
        transform: translateX(0);
    }

    .sidebar-header {
        text-align: center;
        color: black;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .close-btn {
        color: white;
        font-size: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    .menu-item {
        color: black;
        text-decoration: none;
        padding: 15px;
        display: block;
        font-size: 18px;
        transition: background-color 0.3s ease;
    }

    .menu-item:hover {
        background-color: #575757;
    }

    .main {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #2196F3;
        color: white;
        padding: 20px;
    }

    .cnt {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background: aquamarine;
        padding: 20px;
        padding-top: 100px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .cnt-content {
        padding: 35px 0px;
    }

    .cnt h1 {
        font-size: 2.5rem;
        margin: 15px 0;
        font-family: system-ui;
        font-weight: bold;
    }

    .cnt p {
        margin: 15px 0;
        line-height: 1.5;
        max-width: 500px;
        font-weight: bold;
        font-size: x-large;
    }

    .cnt button {
        padding: 10px 20px;
        background: #2196F3;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin-top: 15px;
    }

    .cnt button a {
        text-decoration: none;
        color: white;
    }

    .cnt .dim {
        display: flex;
        justify-content: flex-end;

    }

    .cnt .dim img {

        background: linear-gradient(pink, violet);
        border-radius: 50%;
        overflow: visible;
        transition: 2.5s;
    }

    .cnt .dim img:hover {
        background-color: #2196F3;
        border-radius: 50%;
        overflow: visible;
        transition: 2.5s;
    }

    .p1 h1 {
        font-size: 40px;
    }

    .cnt2 {
        width: 100%;
        height: fit-content;
        background-color: #f9f9f9;
    }

    .products {
        text-align: center;
        padding: 60px 20px;
        background: linear-gradient(pink, violet);
    }

    .products h2 {
        font-size: 50px;
        margin-bottom: 30px;
        color: black;
    }

    .p1_ {
        background: lavenderblush;
        padding: 10px;
        font-size: 20px;
    }

    .product-container1,
    .product-container2,
    .product-container3,
    .product-container4 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        background: lavenderblush;
        padding: 20px;
    }

    .product {
        background-color: #fff;
        padding: 25px;
        width: fit-content;
        border-radius: 12px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
        text-align: center;
        transition: transform 0.3s ease-in-out;
    }

    .product img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        transition: transform 0.3s ease-in-out;
        background: #81d5ff;
    }

    .product img:hover {
        transform: scale(1.05);
        background-color: yellow;
    }

    .product h3 {
        font-size: 35px;
        margin-top: 15px;
        color: #333;
    }

    .product p {
        font-size: 18px;
        color: #777;
        margin-top: 10px;
    }

    .product details {
        background: #FFC107;
        display: inline-block;
        padding: 12px 25px;
        border-radius: 15px;
        font-size: 30px;
        color: #333;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }

    .product details:hover {
        background: #faa200;
    }

    .products .note {
        font-size: 35px;
    }

    .about {
        background: linear-gradient(violet, pink);
        padding: 20px;
    }

    .about-content {
        max-width: 1500px;
        margin: 0 auto;
        background-color: #2196F3;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .about-content h2 {
        font-size: 36px;
        margin-bottom: 20px;
        color: black;
        text-transform: capitalize;
        font-weight: 600;
    }

    .about-content p {
        font-size: 25px;
        line-height: 1.8;
        color: #fff;
        margin-bottom: 15px;
        text-align: justify;
        max-width: 1300;
        margin-left: auto;
        margin-right: auto;
    }

    .about-content .imgs {
        display: flex;
        height: 330px;
        justify-content: center;
        background: #FFEB3B;
        border-radius: 15px;
        width: auto;
    }

    .about-content span {
        color: #fff;
        font-weight: bold;
    }

    .contact {
        margin: 0 auto;
        text-align: center;
        background-color: #2196F3;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background: linear-gradient(pink, violet);
    }

    .contact-content img {
        width: 1325px;
        border-radius: 10px;
    }

    .contact-content {
        max-width: 1500px;
        margin: 0 auto;
        text-align: center;
        background-color: #03A9F4;
        padding: 40px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .contact-content h2 {
        font-size: 36px;
        margin-bottom: 20px;
        color: black;
        text-transform: capitalize;
        font-weight: 600;
    }

    .contact-content p {
        font-size: 18px;
        color: #fff;
        margin-bottom: 30px;
    }

    .contact-info {
        font-size: 18px;
        color: #555;
        line-height: 1.6;
    }

    .contact-info p {
        margin: 10px 0;
        font-size: 30px;
    }

    .contact-info strong {
        color: black;
    }

    .contact button {
        background: #3F51B5;
        padding: 10px 20px;
        border: 0;
        border-radius: 10px;
    }

    .contact button a {
        color: fff;
        text-decoration: 0;
        cursor: pointer;
    }

    footer {
        background: #ff2020;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
    }

    footer p {
        font-size: xx-large;
    }
}